$blue: #009bd9;
$green: #3fae60;
$background: #FCFAFB;
$gray: #9e9e9e;
$darkGreen: #359251;
$darkRed: #d9534f;
$black: #333;
$purple: #522F91;
$light-purple:#9784BD;

// $background-color: #fcfafb;
$hover-color: #F2F2F2;
$main-color: #449b56;
$red-error: #f44336;
// $text-color: #838383;
// $white: #fff;

